html {
  font-size: 62.5%;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #e4a5e8;
}

.main {
  height: 100%;
  width: 100%;
  text-align: center;
  padding: 5%;
}
.main h1 {
  font-size: 4rem;
}
.box {
  border: 10px solid #fff;
  padding: 50px 0;
  margin: 50px 0;
}
.box p {
  font-size: 2rem;
  padding-bottom: 20px;
  font-weight: bold;
}
#btn {
  background: #de0d4c;
  color: #fff;
  font-weight: bold;
  text-decoration: none;
  padding: 20px 50px;
  border-radius: 10px;
  box-shadow: 0px 5px 0px #910a35;
}
#btn:hover {
  background: rgb(222, 13, 76, 0.5);
}
#btn:active {
  position: relative;
  top: 5px;
  box-shadow: 0px 0px 0px;
}
